{% extends "lesion_bank/genericHTML.html" %}

{% block content %}

  <!-- ======= Services Section ======= -->
  <section id="services" class=" services bg section-bg">
   <div class="bg container">

     <div class=" bg section-title" data-aos="fade-up">
       <h2 class = "bg text-white">About</h2>
       <p></p>
     </div>

     <div class=" flex items-center justify-center row">
       <div class="flex items-center justify-center col-lg-6 order-2 order-lg-1">
         <div class="flex items-center justify-center icon-box mt-5 mt-lg-0" data-aos="fade-up">
           <i class="bx bx-receipt"></i>
           <h4 class = "text-white">Revolutionize brain research</h4>
           <p class = "text-white">Transform the field with cutting-edge technology and innovative analysis</p>
         </div>
         <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
           <i class="bx bx-cube-alt"></i>
           <h4 class = "text-white">Provide lesion insights</h4>
           <p class = "text-white">Uncover previously hidden insights into brain function and dysfunction</p>
         </div>
         <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
           <i class="bx bx-images"></i>
           <h4 class = "text-white">Streamline neuroanalysis</h4>
           <p class = "text-white">Simplify and accelerate the process of analyzing neuroimaging data</p>
         </div>
         <div class="icon-box mt-5 " data-aos="fade-up" data-aos-delay="300">
           <i class="bx bx-shield"></i>
           <h4 class = "text-white">Empower cognitive discovery</h4>
           <p class = "text-white">Empower researchers to make new discoveries about brain cognition</p>
         </div>
       </div>
       <img class=" image skew-y-6 col-lg-6 order-1 order-lg-2" style='background-image: url("../static/assets/img/webabout.jpeg");' data-aos="fade-left" data-aos-delay="100"></div>
     </div>

   </div>
 </section><!-- End Services Section -->

     <!-- ======= Services Section ======= -->
     <section id="services" class=" services bg section-bg">
       <div class=" bg container">
 
         <div class=" section-title" data-aos="fade-up">
           <h2 class = "text-white">Supported By</h2>
           <p></p>
         </div>
 
         <div class=" flex items-center justify-center row">
           <div class="flex items-center justify-center col-lg-6 order-2 order-lg-1">
             <div class="flex items-center justify-center icon-box mt-5 mt-lg-0" data-aos="fade-up">
               <i class=""></i>
               <h4 class = "text-white">Harvard University</h4>
             </div>
             <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
               <i class=""></i>
               <h4 class = "text-white">Center for Brain Circuit Therapeutics</h4>
             </div>
             <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
               <i class=""></i>
               <h4 class = "text-white">Brigham and Women's Hospital</h4>
             </div>
             <div class="icon-box mt-5 " data-aos="fade-up" data-aos-delay="300">
               <i class=""></i>
               <h4 class = "text-white">Neurospirituality Lab</h4>
             </div>
           </div>
           <img class=" image2 col-lg-6 order-1 order-lg-2" style='background-image: url("../static/assets/img/ssp.png");' data-aos="fade-left" data-aos-delay="100"></div>
         </div>
 
       </div>
     </section><!-- End Services Section -->

{% endblock %}
