{% extends "lesion_bank/base_papaya.html" %}
{% load static %}
{% block content %}

 
<div class="row align-items-center"> <!-- Add align-items-center to vertically align items in the row -->
    <div class="col col-sm-9 my-auto"> <!-- Use my-auto to center content vertically within the column -->
        <h4>#{{case_id}}: {{author}} ({{publication_year}})</h4>
    </div>
    <div class="col col-sm-3 btn-group" role="group"> <!-- Removed mt-3 as it's not needed anymore -->
        <a href="{% url 'list' %}" class="btn btn-primary">Return to List</a>
        <button class="btn btn-success" onclick="downloadCSV()">CSV</button>
        <a href="{% url 'edit_metadata' case_id %}" class="btn btn-secondary">Edit Case Info</a>
    </div>
</div>


<hr>

<div class="row">
    <div class="col col-sm-8">
        <div id="papaya-holder" class="papaya" data-params="params">
        </div>
        <div style='padding: 10px;' class='input-group mb-3' id='selectedCoordinate'>
            <button id='questionButton1' type="button" data-bs-placement="bottom" class="btn btn-sm btn-primary bg-gradient" data-bs-toggle="popover" data-bs-title="Coordinate Navigator:" data-bs-content="Drag the crosshairs or enter a coordinate to navigate to a specific location in the visualizer.">
                <i class="bi bi-question-circle"></i>
            </button>
            <span class="input-group-text bg-secondary bg-gradient">Navigator: </span>
            <span class="input-group-text">X</span>
            <input type="text" class="form-control selectCoord" placeholder="X" id='findX' aria-label="X" onchange="updateCoords()">
            <span class="input-group-text">Y</span>
            <input type="text" class="form-control selectCoord" placeholder="Y" id='findY' aria-label="Y" onchange="updateCoords()" >
            <span class="input-group-text">Z</span>
            <input type="text" class="form-control selectCoord" placeholder="Z" id='findZ' aria-label="Z" onchange="updateCoords()" >
            <a class="btn btn-outline-secondary" type="button" id='findS' onclick="navigateToLocation()">Find what's here</a>
        </div>
        <script>
            function navigateToLocation() {
                const x = document.getElementById('findX').value;
                const y = document.getElementById('findY').value;
                const z = document.getElementById('findZ').value;
                const baseUrl = "{% url 'locations' '0_0_0' %}"; // using dummy values just to get the base path
                const targetUrl = baseUrl.replace('0_0_0', `${x}_${y}_${z}`);
                window.location.href = targetUrl;
            }
        </script>
    </div>
    <div class="col col-sm-4">
        <ul class="list-group">
            <li class="list-group-item disabled">Legend:</li>
            <li class="list-group-item"> <i style="color:#E63232; font-size: 22px; cursor: pointer;" class="bi bi-square-fill" onclick="toggleOverlay(10, this)"></i> 
                Lesion Trace  <a href="{{ MEDIA_URL }}{{ trace_file_path }}"><i class="bi bi-download"></i></a>
            </li>
            <li class="list-group-item"> <i style="color:#ff999e; font-size: 22px; cursor: pointer;" class="bi bi-square-fill" onclick="toggleOverlay(20, this)"></i> 
                Lesion Network  <a href="{{ MEDIA_URL }}{{ network_file_path }}"><i class="bi bi-download"></i></a>
            </li>
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item disabled">Case Report Information:</li>

            <li class="list-group-item">
                Symptoms: 
                {% for symptom in symptoms %}
                    <a target="_blank" href="{% url 'symptom_detail' symptom %}">{{ symptom }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>

            
            <li class="list-group-item">
                Publication link:  <a target="_blank" href="{{doi}}">DOI</a>
            </li>
            <li class="list-group-item">
                Author:  {{author}}
            </li>
            <li class="list-group-item">
                Publication Year:  {{publication_year}}
            </li>
            <li class="list-group-item">
                Patient Age: {{patient_age}} years
            </li>
            <li class="list-group-item">
                Patient Sex: {{patient_sex}}
            </li>
            <li class="list-group-item">
                Cause: {{cause}}
            </li>
            <li class="list-group-item">
                Original Image:  <a href="{{ MEDIA_URL }}{{ original_image_1 }}" target="_blank">Link</a>
            </li>
        </ul>
        <br><br>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    function extractData() {
        const lesion_id = "{{case_id}}";
        const listItems = document.querySelectorAll('.list-group-item');
        let caseData = {"lesion_id": lesion_id};

        listItems.forEach(item => {
            if (!item.classList.contains('disabled')) {
                // Check if the item contains an <a> tag
                const link = item.querySelector('a');
                let key = item.childNodes[0].textContent.trim().split(':')[0];

                let value;
                if (link) {
                    // If it's a link, use the href attribute
                    value = link.getAttribute('href');
                    // If you need the full URL instead of a relative path, use link.href
                } else {
                    // Otherwise, use the text content
                    value = item.textContent.trim().split(':').slice(1).join(':').trim();
                }

                caseData[key] = value;
            }
        });

        return caseData;
    }

    function convertToCSV(obj) {
        const csvRows = [];
        const headers = Object.keys(obj).join(',');
        const values = Object.values(obj).join(',');

        csvRows.push(headers);
        csvRows.push(values);

      
        return csvRows.join('\n');
    }
    function downloadCSV() {
        const data = extractData();
        const csvString = convertToCSV(data);
        const blob = new Blob([csvString], { type: 'text/csv' });
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.setAttribute('hidden', '');
        a.setAttribute('href', url);
        a.setAttribute('download', 'case_report.csv');
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }



</script>
<script type="text/javascript">
    var params = [];
    params["images"] = [
        "https://neurovault.org/static/images/GenericMNI.nii.gz",
        "{{ MEDIA_URL }}{{ trace_file_path }}",
        "{{ MEDIA_URL }}{{ network_file_path }}"
    ];
    params["luts"] = [
        {"name":"Lesion Trace", "data": [[0, 0.9, 0.2, 0.2], [1, 1, 0.2, 0.2]]},
        {"name":"PuBu", "data":[[0,1,0.968627,0.984314],[0.05,0.92549,0.905882,0.94902],[0.1,0.815686,0.819608,0.901961],[0.15,0.65098,0.741176,0.858824],[0.2,0.454902,0.662745,0.811765],[0.25,0.211765,0.564706,0.752941],[0.3,0.0196078,0.439216,0.690196],[0.35,0.0156863,0.352941,0.552941],[.4,0.00784314,0.219608,0.345098],[1.0,0.00784314,0.219608,0.345098]]},
        {"name":"OrRd", "data":[[0,1,0.968627,0.92549],[0.125,0.996078,0.909804,0.784314],[0.25,0.992157,0.831373,0.619608],[0.375,0.992157,0.733333,0.517647],[0.5,0.988235,0.552941,0.34902],[0.625,0.937255,0.396078,0.282353],[0.75,0.843137,0.188235,0.121569],[0.875,0.701961,0,0],[1,0.498039,0,0]]}
    ]

    params['{{trace_file_path}}'.split('/').pop()] = {lut: "Lesion Trace", "alpha":1.0}
    // params['{{network_file_path}}'.split('/').pop()] = {'min': 25, 'max': 100, 'alpha': 0.6, lut: "OrRd"}
    // params['{{network_file_path}}'.split('/').pop()] = {'min': -20, 'max': -60, 'alpha': 0.6, lut: "PuBu"}
    params['{{network_file_path}}'.split('/').pop()] = {'parametric': true, 'min': 25, 'max': 100, 'alpha': 0.6, lut: "OrRd", 'negative_lut':'PuBu', 'symmetric':false}
    params["worldSpace"] = true;
    params["expandable"] = true;
    params["combineParametric"] = true;
    params["showControls"] = false;
    params["smoothDisplay"] = false;
    params["allowScroll"] = false;
    // params["contextManager"] = new ctxManager();
</script>
<script>
    function setImageNegRange(){
        id_num_array = [20];
        id_num_array.forEach(id_number => {
            document.getElementById('ImageButton' + id_number).click();
            const minInput = document.getElementById('ChangeRangeNeg-3Min0');
            const maxInput = document.getElementById('ChangeRangeNeg-3Max0')
            minInput.focus();
            minInput.value = -20;
            maxInput.focus();
            maxInput.value = -60;
            document.getElementById('ImageButton' + id_number).click();
        });
    }
    function toggleOverlay(id_number, element){
        document.getElementById('ImageButton'+ id_number).click();
        document.getElementById('ToggleOverlay-' + id_number).click();
        element.classList.toggle("bi-square-fill");
        element.classList.toggle("bi-square");
    }
    function getCurrentCoord(){
        let viewer = papayaContainers[0].viewer;
        return viewer.getWorldCoordinateAtIndex(Object.values(viewer.currentCoord)[0],Object.values(viewer.currentCoord)[1],Object.values(viewer.currentCoord)[2], new papaya.core.Coordinate());
    }
    function gotoCoord(x,y,z){
        let viewer = papayaContainers[0].viewer;
        viewer.gotoWorldCoordinate({'x':x,'y':y,'z':z});
    }
    function updateCoords() {
        const x = document.getElementById('findX').value;
        const y = document.getElementById('findY').value;
        const z = document.getElementById('findZ').value;
        gotoCoord(x, y, z);
    }
    document.querySelector('.papaya').addEventListener('mousemove', function() {
        const coords = getCurrentCoord();
        document.getElementById('findX').value = coords.x;
        document.getElementById('findY').value = coords.y;
        document.getElementById('findZ').value = coords.z;
    });

</script>
{% endblock %}
