{% extends "lesion_bank/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <br>
        <h4 class="card-subtitle mb-2 text-muted"> Select an author to view lesion maps for each case in our database:</h4>
            <form method='_GET'>
                <div class="input-group mb-3  input-group-lg">
                    <select class='form-select' aria-label='Select an option' name='id'>
                    {{dropdownList|safe}}
                    </select> 
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Select</button>
                </div>
            </form>
    </div>
    <div class="card card-body">
        <h3 class='card-subtitle mb-2 text-muted'>All Authors</h3>
        {{fullList|safe}}
    </div>                               
</div>
{% endblock %}