{% extends "lesion_bank/base.html" %}

{% block content %}

    <div class="row">
        <h4>What is LesionBank?</h4>
        <p>
          LesionBank is an organized collection of open-source brain lesion data made accessible through this website. The website is really just an interface for exploring the data through several JavaScript, Python and SQL-powered tools. LesionBank draws much of its inspiration from notable projects like <a href="https://neurosynth.org/">Neurosynth</a> and <a href="https://neurovault.org/">NeuroVault</a>.
        </p>
      
        <p>
          The data itself consists of lesion tracings and lesion network maps.
        </p>
        <p>
          Lesion tracings are 3d models of lesions mapped in MNI space. These lesions were found in previously published lesion case reports, usually for ischemic strokes. Each lesion was associated with a neurological symptom.
        </p>
        <h5>What is a lesion network map?</h5>
        <p>
          After creating each lesion tracing, we then use a statistical technique called “lesion network mapping” to generate a corresponding “lesion network map”, which is essentially a heatmap of all the voxels that a given lesion is connected to. Lesion network maps are much larger than the lesion tracing itself, and each voxel in a lesion network map holds a “t_stat”, a measure of functional connectivity between the voxel and the lesion. <a href="https://www.researchgate.net/publication/329451781_Mapping_Symptoms_to_Brain_Networks_with_the_Human_Connectome">This paper</a> explains the technique with greater detail. 
        </p>
        <p>
          We store lesion tracings and lesion network maps in NIFTI filetypes which are easily loaded onto medical imaging software. On this website we use a JavaScript package (<a href="https://github.com/rii-mango/Papaya">papaya viewer</a>) to load these images onto the browser. 
        </p>
        <h5>How does the website search and filter the whole dataset?</h5>
        <p>
          To enable coordinate-based searching across the entire dataset, we reshaped the 3D NIFTI arrays for each image into a relational table powered by a PostgreSQL database. The database allows us to query the entire dataset simultaneously and filter results based on several parameters, such as voxel, anatomical region, or symptom. This database is the bedrock of LesionBank, and all API responses and frontend displays are really derived from database queries. 
        </p>
        <h5>Why is my coordinate search sometimes rounded up?</h5>
        <p>
          Our lesion tracings and lesion network maps are stored in 2mm resolution; For this reason, after reshaping the 3d array and incorporating it into the database, we only have values for even-numbered voxels. If you try to find an exact match (0 mm distance from the search coordinate), our database will not find any results for odd-numbered search coordinates. To avoid this potentially confusing result, we automatically round up even when doing a search at 0mm from an odd-numbered coordinate.
        </p>
        <h5>What atlas does LesionBank use to map anatomical names to spatial locations?</h5>
        <p>
          We use the <a href="https://neurovault.org/collections/262/">Harvard-Oxford cortical and subcortical structural atlas</a> to label the anatomical name for coordinates in MNI space.
        </p>
        <h5>What is LesionBank useful for?</h5>
        <p>

        </p>
    </div>
    <br>
    <br>
    <br> 

{% endblock %}
