{% extends "lesion_bank/base.html" %}

{% block content %}

<div class="container mt-5">
    <div id="loadingDiv" class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Waiting for the network map to generate...</p>
        <p id="counter"></p> 
    </div>
    <div id="loadedDiv" class="text-center d-none">
        <p>Network map is ready! Redirecting...</p>
    </div>
    <!-- <p>{{url_to_check}}</p> -->
</div>

<script>
    const URL_TO_CHECK = 'https://lesionbucket.nyc3.digitaloceanspaces.com/uploads/network_maps_output/{{file_id}}/input_mask_Precom_T.nii.gz';
    const REDIRECT_URL = "{% url 'prediction_results' file_id %}";

    let seconds = 0;
    const interval = setInterval(() => {
        seconds++;
        document.getElementById('counter').textContent = `${seconds} seconds elapsed`; 
    }, 1000);
    function checkFile() {
        fetch(URL_TO_CHECK, { method: 'HEAD' })
            .then(response => {
                if (response.ok) {
                    clearInterval(interval);
                    document.getElementById('loadingDiv').classList.add('d-none');
                    document.getElementById('loadedDiv').classList.remove('d-none');
                    // Redirect to the Django URL after a slight delay to show the "ready" message
                    setTimeout(() => {
                        window.location.href = REDIRECT_URL;
                    }, 2000); 
                } else {
                    setTimeout(checkFile, 5000); // Check again in 5 seconds
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                setTimeout(checkFile, 5000); // Check again in 5 seconds in case of a fetch error
            });
    }

    // Start the checking process
    checkFile();
</script>




{% endblock %}

