{% extends "lesion_bank/base_papaya.html" %}
{% load static %}
{% block content %}

<!-- 
<script>
    
    var ctxManager = function() {
        this.loggedPoints = [];
        this.loggedWorldPoints = [];
    };
    /**
     * Menu data (can contain submenus).
     * @type {#{label: string, items: *[]}#}
     */
    ctxManager.menudata = {"label": "Test",
        "items": [
            {"label": "Log Point", "action": "Context-Log"},
            {"label": "Clear Points", "action": "Context-Clear"}
        ]
    };
    
    /**
     * Returns menu options at image position.
     * @param x
     * @param y
     * @param z
     * @returns {#{label: string, items: *[]}|*}
     */
    ctxManager.prototype.getContextAtImagePosition = function(x, y, z) {
        return ctxManager.menudata;
    };
    
    /**
     * Callback when menu option is selected.
     * @param action
     */
    ctxManager.prototype.actionPerformed = function(action) {
        if (action === "Log") {
            var currentCoor = papayaContainers[0].viewer.cursorPosition;
            var coor = new papaya.core.Coordinate(currentCoor.x, currentCoor.y, currentCoor.z);
            this.loggedPoints.push(coor);
            worldcoor = papayaContainers[0].viewer.getWorldCoordinateAtIndex(currentCoor.x, currentCoor.y, currentCoor.z, new papaya.core.Coordinate())
            let point = [worldcoor['x'], worldcoor['y'], worldcoor['z']];

            // Check if the point already exists in the loggedWorldPoints array
            let pointExists = this.loggedWorldPoints.some(existingPoint => 
                existingPoint[0] === point[0] && 
                existingPoint[1] === point[1] && 
                existingPoint[2] === point[2]
            );

            // If the point does not exist in the array, push it to the array
            if (!pointExists) {
                this.loggedWorldPoints.push(point);
            }

        } else if (action === "Clear") {
            this.loggedPoints = [];
            this.loggedWorldPoints = [];
        }
    
        papayaContainers[0].viewer.drawViewer();
    };
    
    /**
     * This provides an opportunity for the context manager to draw to the viewer canvas.
     * @param ctx
     */
    ctxManager.prototype.drawToViewer = function(ctx) {
        for (var ctr = 0; ctr < this.loggedPoints.length; ctr += 1) {
            if (papayaContainers[0].viewer.intersectsMainSlice(this.loggedPoints[ctr])) {
                var screenCoor = papayaContainers[0].viewer.convertCoordinateToScreen(this.loggedPoints[ctr]);
                ctx.fillStyle = "rgb(255, 0, 0)";
                ctx.fillRect(screenCoor.x, screenCoor.y, 3, 3);
    
                // some more examples of converting coordinates
                // var originalCoord = papayaContainers[0].viewer.convertScreenToImageCoordinate(screenCoor.x, screenCoor.y);
                // var world = new papaya.core.Coordinate();
                // papayaContainers[0].viewer.getWorldCoordinateAtIndex(originalCoord.x, originalCoord.y, originalCoord.z, world);
                // console.log(originalCoord.toString() + " " + world.toString());
            }
        }
    };
    
    /**
     * Called when image position changes.
     */
    ctxManager.prototype.clearContext = function() {
        // do nothing
    };
    </script> -->
    
<h4>Lesion Tracing Practice Results</h4>
<hr>
<p>
    Your trace included {{stats.practice_voxel_count}} total voxels. 
    <br>
    You correctly traced {{stats.numerator}} voxels. 
    <br>
    There are a total of {{stats.true_voxel_count}} voxels in the validated trace.
    <br>
    <b>Overall, your similarity coefficient was {{stats.jaccard_similarity_coefficient}}.</b>
    <br> 
    Highly similar traces score close to 1, and non-similar traces score 0. 
    (<a target="_blank" href="https://en.wikipedia.org/wiki/Jaccard_index">Jaccard similarity coefficient</a>)
</p>
<br>
<br>
<div class="row">
    <div class="col col-sm-8">
        <div id="papaya-holder" class="papaya" data-params="params">
        </div>
        <div style='padding: 10px;' class='input-group mb-3' id='selectedCoordinate'>
            <button id='questionButton1' type="button" data-bs-placement="bottom" class="btn btn-sm btn-primary bg-gradient" data-bs-toggle="popover" data-bs-title="Coordinate Navigator:" data-bs-content="Drag the crosshairs or enter a coordinate to navigate to a specific location in the visualizer.">
                <i class="bi bi-question-circle"></i>
            </button>
            <span class="input-group-text bg-secondary bg-gradient">Navigator: </span>
            <span class="input-group-text">X</span>
            <input type="text" class="form-control selectCoord" placeholder="X" id='findX' aria-label="X" onchange="updateCoords()">
            <span class="input-group-text">Y</span>
            <input type="text" class="form-control selectCoord" placeholder="Y" id='findY' aria-label="Y" onchange="updateCoords()" >
            <span class="input-group-text">Z</span>
            <input type="text" class="form-control selectCoord" placeholder="Z" id='findZ' aria-label="Z" onchange="updateCoords()" >
            <!-- <a class="btn btn-outline-secondary" type="button" id='findS' >Find what's here</a> -->
        </div>
    </div>
    <div class="col col-sm-4">
        <ul class="list-group">
            <li class="list-group-item disabled">Legend:</li>
            <li class="list-group-item"> <i style="color:#E63232; font-size: 22px; cursor: pointer;" class="bi bi-square-fill" onclick="toggleOverlay(10, this)"></i> 
                Practice trace ({{stats.practice_voxel_count}} voxels)  <a href="{{ MEDIA_URL }}{{ file_path }}"><i class="bi bi-download"></i></a></li>
            <li class="list-group-item"> <i style="color:#32E632; font-size: 22px; cursor: pointer;" class="bi bi-square-fill" onclick="toggleOverlay(20, this)"></i>
                Validated trace ({{stats.true_voxel_count}} voxels)  <a href="{{ MEDIA_URL }}{{ true_file_path }}"><i class="bi bi-download"></i></a></li>
        </ul>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    var params = [];
    params["images"] = [
        "https://neurovault.org/static/images/GenericMNI.nii.gz",
        "{{ MEDIA_URL }}{{ file_path }}",
        "{{ MEDIA_URL }}{{ true_file_path }}"
    ];
    params["luts"] = [
        {"name":"Practice Trace", "data": [[0, 0.9, 0.2, 0.2], [1, 1, 0.2, 0.2]]},
        {"name":"True Trace", "data": [[0, 0.2, 0.9, 0.2], [1, 0.2, 1, 0.2]]}
    ]
    params['{{file_path}}'.split('/').pop()] = {lut: "Practice Trace", "alpha":1.0}
    params['{{true_file_path}}'.split('/').pop()] = {lut: "True Trace", "alpha":1.0}
    params["worldSpace"] = true;
    params["expandable"] = true;
    params["combineParametric"] = true;
    params["showControls"] = false;
    params["smoothDisplay"] = false;
    params["allowScroll"] = false;
    // params["contextManager"] = new ctxManager();
</script>
<script>
    
    function toggleOverlay(id_number, element){
        document.getElementById('ImageButton'+ id_number).click();
        document.getElementById('ToggleOverlay-' + id_number).click();
        element.classList.toggle("bi-square-fill");
        element.classList.toggle("bi-square");
    }
    function getCurrentCoord(){
        let viewer = papayaContainers[0].viewer;
        return viewer.getWorldCoordinateAtIndex(Object.values(viewer.currentCoord)[0],Object.values(viewer.currentCoord)[1],Object.values(viewer.currentCoord)[2], new papaya.core.Coordinate());
    }
    function gotoCoord(x,y,z){
        let viewer = papayaContainers[0].viewer;
        viewer.gotoWorldCoordinate({'x':x,'y':y,'z':z});
    }
    function updateCoords() {
        const x = document.getElementById('findX').value;
        const y = document.getElementById('findY').value;
        const z = document.getElementById('findZ').value;
        gotoCoord(x, y, z);
    }
    document.querySelector('.papaya').addEventListener('mousemove', function() {
        const coords = getCurrentCoord();
        document.getElementById('findX').value = coords.x;
        document.getElementById('findY').value = coords.y;
        document.getElementById('findZ').value = coords.z;
    });

</script>
{% endblock %}
