{% extends "lesion_bank/base_papaya.html" %}
{% load static %}
{% block content %}

<div class="row align-items-center"> <!-- Add align-items-center to vertically align items in the row -->
    <div class="col col-sm-9 my-auto"> <!-- Use my-auto to center content vertically within the column -->
        <h4>Create or Upload Lesion Mask</h4>
    </div>
    <div class="col col-sm-3 btn-group" role="group"> <!-- Removed mt-3 as it's not needed anymore -->
        <a href="{% url 'list' %}" class="btn btn-primary">Return to List</a>
    </div>
</div>

<hr>
<p>
    This page allows you to trace lesions from inside the browser.
    <br>
    Zoom in to the brain image below. Then, click and drag to lasso regions that you would like to trace. 
    <br>
    When you are finished, click the "Generate" button. 
</p>
<br>
<br>
<div class="row">
    <div class="col col-sm-8">
        <div id="papaya-holder" class="papaya" data-params="params">
        </div>
        <div style='padding: 10px;' class='input-group mb-3' id='selectedCoordinate'>
            <button id='questionButton1' type="button" data-bs-placement="bottom" class="btn btn-sm btn-primary bg-gradient" data-bs-toggle="popover" data-bs-title="Coordinate Navigator:" data-bs-content="Drag the crosshairs or enter a coordinate to navigate to a specific location in the visualizer.">
                <i class="bi bi-question-circle"></i>
            </button>
            <span class="input-group-text bg-secondary bg-gradient">Navigator: </span>
            <span class="input-group-text">X</span>
            <input type="text" class="form-control selectCoord" placeholder="X" id='findX' aria-label="X" onchange="updateCoords()">
            <span class="input-group-text">Y</span>
            <input type="text" class="form-control selectCoord" placeholder="Y" id='findY' aria-label="Y" onchange="updateCoords()" >
            <span class="input-group-text">Z</span>
            <input type="text" class="form-control selectCoord" placeholder="Z" id='findZ' aria-label="Z" onchange="updateCoords()" >
            <!-- <a class="btn btn-outline-secondary" type="button" id='findS' >Find what's here</a> -->
        </div>
    </div>
    <div class="col col-sm-4">
        <ul class="list-group border-0">
            <li class="list-group-item border-0 d-flex align-items-center justify-content-between">
                <i>Upload a lesion mask in NIfTI format (.nii.gz) to generate a network map.</i>
            </li>

            <li class="list-group-item border-0 d-flex align-items-center justify-content-between">
                <form id="uploadForm" method="post" action=".">
                    {% csrf_token %}
                    <div class="input-group">
                        <!-- File input label -->
                        <label for="file" class="btn btn-primary input-group-text">
                            Choose File
                        </label>
                    
                        <!-- File input -->
                        <input type="file" id="file" name="file" accept=".nii.gz" class="form-control" hidden>
                    
                        <!-- File input placeholder for showing filename -->
                        <input type="text" id="filename" class="form-control" placeholder="No file chosen" readonly>
                    
                        <!-- Separate button for upload and predict -->
                        <button id="createNifti" class="btn btn-secondary disabled">
                            Generate <i class="bi bi-play-fill"></i>
                        </button>
                    </div>
                    
                    <script>
                    // JavaScript to update the filename placeholder
                    document.getElementById('file').addEventListener('change', function() {
                        // Check if a file was selected
                        if (this.files && this.files.length > 0) {
                            // Update the placeholder input with the file name
                            document.getElementById('filename').placeholder = this.files[0].name;
                        }
                    });
                    </script>
                </form>
            </li>

            <li class="list-group-item border-0 d-flex align-items-center justify-content-between">
                <i>Or create your own mask in the viewer and click the button below to generate a network map.</i>
            </li>

            <li class="list-group-item border-0 d-flex align-items-center justify-content-between">
                <form id="pointsForm" method="post" action=".">
                    {% csrf_token %}
                    <input type="hidden" id="loggedPoints" name="loggedPoints" value="">
                    <div class="input-group">
                        <!-- Toggleable Buttons -->
                        <div class="btn-group" role="group" aria-label="Mask size selection">
                            <button type="button" class="btn btn-success" id="mask2mm">Clear</button>
                            <button type="button" name="2mm" class="btn btn-primary active" id="mask2mm">2mm mask</button>
                            <button type="button" name="1mm" class="btn btn-outline-primary" id="mask1mm">1mm mask</button>
                            <button id="createNifti" class="btn btn-secondary disabled">
                                Generate
                                <i class="bi bi-play-fill"></i>
                            </button>
                        </div>
                    </div>
                    <script>
                        document.getElementById('mask2mm').addEventListener('click', function() {
                            this.classList.add('active');
                            this.classList.remove('btn-outline-primary');
                            this.classList.add('btn-primary');
                            document.getElementById('mask1mm').classList.add('btn-outline-primary');
                            document.getElementById('mask1mm').classList.remove('btn-primary', 'active');
                        });
                        
                        document.getElementById('mask1mm').addEventListener('click', function() {
                            this.classList.add('active');
                            this.classList.remove('btn-outline-primary');
                            this.classList.add('btn-primary');
                            document.getElementById('mask2mm').classList.add('btn-outline-primary');
                            document.getElementById('mask2mm').classList.remove('btn-primary', 'active');
                        });
                    </script>
                </form>
            </li>
            
            <div id="list-group-points">
                
            </div>
        </ul>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    var params = [];
    params["images"] = [
        "https://neurovault.org/static/images/GenericMNI.nii.gz"
    ]
    //     ,"{{ MEDIA_URL }}{{ file_path }}",
    //     "{{ MEDIA_URL }}{{ true_file_path }}"
    // ];
    // params["luts"] = [
    //     {"name":"Practice Trace", "data": [[0, 0.9, 0.2, 0.2], [1, 1, 0.2, 0.2]]},
    //     {"name":"True Trace", "data": [[0, 0.2, 0.9, 0.2], [1, 0.2, 1, 0.2]]}
    // ]
    params['{{file_path}}'.split('/').pop()] = {lut: "Practice Trace", "alpha":1.0}
    params['{{true_file_path}}'.split('/').pop()] = {lut: "True Trace", "alpha":1.0}
    params["worldSpace"] = true;
    params["expandable"] = true;
    params["combineParametric"] = true;
    params["showControls"] = false;
    params["smoothDisplay"] = false;
    params["allowScroll"] = false;
    params["coordinate"] = ("{{ initial_coord }}".split('_')).map(Number);
    // params["contextManager"] = new ctxManager();
</script>
<script>
    
    function toggleOverlay(id_number, element){
        document.getElementById('ImageButton'+ id_number).click();
        document.getElementById('ToggleOverlay-' + id_number).click();
        element.classList.toggle("bi-square-fill");
        element.classList.toggle("bi-square");
    }
    function getCurrentCoord(){
        let viewer = papayaContainers[0].viewer;
        return viewer.getWorldCoordinateAtIndex(Object.values(viewer.currentCoord)[0],Object.values(viewer.currentCoord)[1],Object.values(viewer.currentCoord)[2], new papaya.core.Coordinate());
    }
    function gotoCoord(x,y,z){
        let viewer = papayaContainers[0].viewer;
        viewer.gotoWorldCoordinate({'x':x,'y':y,'z':z});
    }
    function updateCoords() {
        const x = document.getElementById('findX').value;
        const y = document.getElementById('findY').value;
        const z = document.getElementById('findZ').value;
        gotoCoord(x, y, z);
    }
    document.querySelector('.papaya').addEventListener('mousemove', function() {
        const coords = getCurrentCoord();
        document.getElementById('findX').value = coords.x;
        document.getElementById('findY').value = coords.y;
        document.getElementById('findZ').value = coords.z;
    });

</script>

<script>
    document.getElementById('createNifti').addEventListener('click', function(e) {
        e.preventDefault();
        let loggedWorldPoints = getOverallPoints(lassoList);
        document.getElementById('loggedPoints').value = JSON.stringify(loggedWorldPoints);
        document.getElementById('pointsForm').submit();
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js"></script>
<script>


let lassoList = [];
var originalDrawViewer = papaya.viewer.Viewer.prototype.drawViewer;

function lassoTool(canvas, callback) {
  var points = [];
  var isDrawing = false;
  var ctx = canvas.getContext('2d');

  canvas.addEventListener("mousedown", function(e) {
    isDrawing = true;
    points.push({
      x: e.offsetX,
      y: e.offsetY,
    });
  });

  canvas.addEventListener("mousemove", function(e) {
    if (!isDrawing) return;
    points.push({
      x: e.offsetX,
      y: e.offsetY,
    });
    drawPath(ctx, points);
  });

  canvas.addEventListener("mouseup", function() {
    isDrawing = false;

    // Create a path object from the points array.
    var path = new Path2D();
    path.moveTo(points[0].x, points[0].y);
    for (var i = 1; i < points.length; i++) {
      path.lineTo(points[i].x, points[i].y);
    }

    // Fill in the path with black.
    ctx.fillStyle = "red";
    ctx.fill(path);

    // Store the points of the lasso in a list.
    var lassoPoints = [];
    for (var i = 0; i < points.length; i++) {
      lassoPoints.push([points[i].x, points[i].y]);
    }

    // Call callback function with the list of points.
    if (typeof callback === "function") {
      callback(lassoPoints);
    }

    // Reset points for next time.
    points = [];
  });
}

function drawPath(ctx, points) {
  ctx.beginPath();
  ctx.moveTo(points[0].x, points[0].y);
  for (var i = 1; i < points.length; i++) {
    ctx.lineTo(points[i].x, points[i].y);
  }
  ctx.stroke();
}



function checkCanvasExists() {
  const canvas = document.querySelector('canvas');
  if (canvas) {
        lassoTool(document.querySelector("canvas"), function(lassoPoints) {
        let lasso = [];
        lassoPoints.forEach(function(point){
            let cursorPosition = papayaContainers[0].viewer.cursorPosition
            let newPoint = {
            x: papayaContainers[0].viewer.convertScreenToImageCoordinateX(point[0], papayaContainers[0].viewer.axialSlice),
            y: papayaContainers[0].viewer.convertScreenToImageCoordinateY(point[1], papayaContainers[0].viewer.axialSlice),
            z: cursorPosition.z
            };
            
            if(papayaContainers[0].viewer.intersectsMainSlice(newPoint)){
            // Only add the new point if it doesn't exist in the pointList
            if (!lasso.some(existingPoint => existingPoint.x === newPoint.x && existingPoint.y === newPoint.y && existingPoint.z === newPoint.z)) {
                lasso.push(newPoint);
                // console.log(newPoint);
            }
            }
        });
        lassoList.push(lasso);
        });
        canvas.addEventListener('mouseup', function() {
            checkLassoList();
        });    
  } else {
    // If canvas does not exist yet, check again in 100ms.
    setTimeout(checkCanvasExists, 1000);
  }
}

checkCanvasExists();



// Redefine the drawViewer function
papaya.viewer.Viewer.prototype.drawViewer = function() {
  // Call the original function with its original context and arguments
  var result = originalDrawViewer.apply(this, arguments);
  for (var i = 0; i < lassoList.length; i++) {
      let screenPoints = []
      lassoList[i].forEach((point, idx) => {
          if(papayaContainers[0].viewer.intersectsMainSlice(point)){
              var screenCoor = papayaContainers[0].viewer.convertCoordinateToScreen(point);
              screenPoints.push(screenCoor)
          }
      });
      if(screenPoints.length > 1){
        var path = new Path2D();
        path.moveTo(screenPoints[0].x, screenPoints[0].y);
        for (var j = 1; j < screenPoints.length; j++) {
          path.lineTo(screenPoints[j].x, screenPoints[j].y);
        }
        ctx = papayaContainers[0].viewer.context;
        ctx.fillStyle = "red";
        ctx.fill(path);
      }
  }
  return result;
};

function lassoToWorld(lassoList){
    worldLassoList = []
    lassoList.forEach(lasso => {
      worldLasso = []
        lasso.forEach(point => {
            worldPoint = papayaContainers[0].viewer.getWorldCoordinateAtIndex(point.x, point.y, point.z, new papaya.core.Coordinate());
            worldLasso.push({'x':worldPoint.x,'y':worldPoint.y,'z':worldPoint.z})
            // console.log(worldPoint);
        });
        worldLassoList.push(worldLasso);
    });
    return worldLassoList;
}

function pointsInPolygon(polygonPoints, width = 1000, height = 1000) {
    // Create an in-memory PaperScope
    var myScope = new paper.PaperScope();

    // Setup the paperscope with a size
    myScope.setup(new myScope.Size(width, height));

    // Create a new empty path
    var path = new myScope.Path();
    // Add each point in the input to the path
    polygonPoints.forEach(function(point) {
        path.add(new myScope.Point(point.x, point.y));
    });

    // Close the path to create a polygon
    path.closed = true;

    // Get the bounding rectangle of the path
    var bounds = path.bounds;

    // Prepare an array to hold the points inside the polygon
    var insidePoints = [];

    // Iterate over each point within the bounding rectangle
    for (var x = bounds.left; x < bounds.right; x++) {
        for (var y = bounds.top; y < bounds.bottom; y++) {
            var point = new myScope.Point(x, y);

            // If the point is inside the polygon, add it to the array
            if (path.contains(point)) {
                insidePoints.push({x: x, y: y});
            }
        }
    }
    total_points = []
    insidePoints.forEach(point => {
      total_points.push({x:point.x, y:point.y, z:polygonPoints[0]['z']});
    });

    return total_points;
}

function getOverallPoints(lassoList){
    worldLassoList = lassoToWorld(lassoList);
    // console.log(worldLassoList);
    var overall_points = [];
    worldLassoList.forEach(sub_list => {
        let point_list = pointsInPolygon(sub_list);
        // console.log(point_list);
        point_list.forEach(inner_point =>{
          // If the point at this unique combination of points is not yet found in overall_points, then push it to overall_points
          // the point is an object like this: {x:x_val,y:y_val,z:z_val}
          if(!overall_points.some(op => op.x === inner_point.x && op.y === inner_point.y && op.z === inner_point.z)){
               overall_points.push(inner_point);
          }
        });
    });

    // Transform overall_points into an array of arrays
    overall_points = overall_points.map(point => [point.x, point.y, point.z,1]);

    return overall_points;
}

function checkLassoList(){
    var niftiButton = document.getElementById('createNifti');
    if(lassoList.length>0){
        niftiButton.classList.remove("disabled");
    }
    else{
        niftiButton.classList.add("disabled");
    }
}
   

</script>

{% endblock %}
