{% extends "lesion_bank/base.html" %}
{% load static %}
{% block style%}
<style>
   .dtfh-floatingparenthead{
    background-color:white!important;
    /* z-index: 1000 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 80 px !important; */
   }
   table.table-hover.dataTable.no-footer.fixedHeader-floating {
    margin-top:0 !important;
    margin-bottom:0 !important;
    border-bottom: 1px solid black !important;
   }
</style>
{% endblock %}
{% block content %}



 
<div class="row align-items-center"> <!-- Add align-items-center to vertically align items in the row -->

    <div class="input-group mb-3 input-group-lg">
        <a href="{% url 'list' %}" class="btn btn-primary">Return to List</a>
        <select id='selectMenu' class='form-select' aria-label='Select an option'>
            {% for symptom in symptom_list %}
            <option class="dropdown-item" url="{% url 'symptom_detail' symptom.symptom%}" value="{{symptom.symptom}}">{{symptom.symptom}} (n={{symptom.count}})</option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-secondary" type="button" onclick="setActionURL()" id="button-addon1">Select</button>
    </div>
    
    
    
    <script>
        const selectMenu = document.getElementById("selectMenu");
        function setActionURL(e) {
            const selectedOption = selectMenu.options[selectMenu.selectedIndex];
            const redirectURL = selectedOption.getAttribute("url");
            if (redirectURL) {
                window.location.href = redirectURL;
            }
        }
        const symptomValue = "{{ symptom }}";  // Assuming you're setting this value somewhere
        for (let i = 0; i < selectMenu.options.length; i++) {
            if (selectMenu.options[i].value === symptomValue) {
                selectMenu.options[i].selected = true;
            }
        }
    </script>
</div>
<hr>
<div class="row">
    <div class="col col-sm-12">
        <b>Description:</b> {{description}}
        <br>
        <br>
    </div>
    <div class="col col-sm-7">
        <div id="papaya-holder" class="papaya" data-params="params">
        </div>
        <div style='padding: 10px;' class='input-group mb-3' id='selectedCoordinate'>
            <button id='questionButton1' type="button" data-bs-placement="bottom" class="btn btn-sm btn-primary bg-gradient" data-bs-toggle="popover" data-bs-title="Coordinate Navigator:" data-bs-content="Drag the crosshairs or enter a coordinate to navigate to a specific location in the visualizer.">
                <i class="bi bi-question-circle"></i>
            </button>
            <span class="input-group-text bg-secondary bg-gradient">Navigator: </span>
            <span class="input-group-text">X</span>
            <input type="text" class="form-control selectCoord" placeholder="X" id='findX' aria-label="X" onchange="updateCoords()">
            <span class="input-group-text">Y</span>
            <input type="text" class="form-control selectCoord" placeholder="Y" id='findY' aria-label="Y" onchange="updateCoords()" >
            <span class="input-group-text">Z</span>
            <input type="text" class="form-control selectCoord" placeholder="Z" id='findZ' aria-label="Z" onchange="updateCoords()" >
            <a class="btn btn-outline-secondary" type="button" id='findS' onclick="navigateToLocation()">Find what's here</a>
        </div>
        <script>
            function navigateToLocation() {
                const x = document.getElementById('findX').value;
                const y = document.getElementById('findY').value;
                const z = document.getElementById('findZ').value;
                const baseUrl = "{% url 'locations' '0_0_0' %}"; // using dummy values just to get the base path
                const targetUrl = baseUrl.replace('0_0_0', `${x}_${y}_${z}`);
                window.location.href = targetUrl;
            }
        </script>

        

    </div>
    <div class="col col-sm-5">
        <div class="accordion" id="sensitivityAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Symptom Maps
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo" data-bs-parent="#sensitivityAccordion">
                    <div class="accordion-body">
                        <p>
                            <b>Sensitivity Maps:</b> Individual lesion network maps were thresholded and binarized at t > 7 and t < -7. The binarized maps are then overlapped to generate the sensitivity map. The heat map shows regions between 50% overlap (n={{min_threshold}}) to 100% overlap (n={{count}}).
                        </p>
                        <ul class="list-group border-0">
                            <div class="active-overlays">
                                <li class="list-group-item border-0">
                                    <div class="row">
                                        <!-- Positive Sensitivity Map -->
                                        <div class="col-md-6 d-flex align-items-center">
                                            <i url="{{ MEDIA_URL }}{{ sensitivity_pos_path }}" style="color:#ff999e; font-size: 22px; cursor: pointer;" class="bi bi-square me-2" id="toggle1" onclick="newNewToggle('{{ MEDIA_URL }}{{ sensitivity_pos_path }}', this)"></i>
                                            Positive Sensitivity Map <a href="{{ MEDIA_URL }}{{ sensitivity_pos_path }}"><i class="bi bi-download"></i></a>
                                        </div>
                                
                                        <!-- Negative Sensitivity Map -->
                                        <div class="col-md-6 d-flex align-items-center">
                                            <i url="{{ MEDIA_URL }}{{ sensitivity_neg_path }}" style="color:#abe2f5; font-size: 22px; cursor: pointer;" class="bi bi-square me-2" id="toggle2" onclick="newNewToggle('{{ MEDIA_URL }}{{ sensitivity_neg_path }}', this)"></i>
                                            Negative Sensitivity Map <a href="{{ MEDIA_URL }}{{ sensitivity_neg_path }}"><i class="bi bi-download"></i></a>
                                        </div>
                                    </div>
                                </li>
                                
                                <div id="dynamic-overlays"></div>
                            </div>
                            
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col col-sm-12">

        <div class="accordion" id="caseStudiesAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        {{symptom}} Case Studies
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#caseStudiesAccordion">
                    <div class="accordion-body">
        
                        <div class="table-responsive">
                            <table id="sortableTable" class="table table-hover">
                                <thead id='tableHeader' class="thead-light">
                                    <tr>
                                        <th>Lesion ID</th>
                                        <th>Author</th>
                                        <th>Publication Year</th>
                                        <th>Lesion Mask</th>
                                        <th>Lesion Network</th>
                                        <th>Details</th>
                                        <th>Publication Info</th>
                                        <th>Age</th>
                                        <th>Sex</th>
                                        <th>Cause</th>
                                        <th>Symptom</th>
                                        <th>Original Image</th>
                                        <th>Lesion Mask</th>
                                        <th>Lesion Network</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for case in case_list %}
                                    <tr> 
                                        <td>{{case.lesion_id}}</td>
                                        <td>{{case.author}}</td>
                                        <td>{{case.publication_year}}</td>
                                        <td>
                                            <i url='{{ MEDIA_URL }}{{ case.tracing_file_name }}' id='2toggle{{forloop.counter}}' style="color:red; font-size: 22px; cursor: pointer;" class="bi bi-square" onclick="newNewToggle('{{ MEDIA_URL }}{{ case.tracing_file_name }}', this)"></i> 
                                            <a href="{{ MEDIA_URL }}{{ case.tracing_file_name }}"><i class="bi bi-download"></i></a>                                  
                                        </td>
                                        <td>
                                            <i url='{{ MEDIA_URL }}{{ case.network_file_name }}' id='2toggle{{forloop.counter}}' style="color:#ff999e; font-size: 22px; cursor: pointer;" class="bi bi-square" onclick="newNewToggle('{{ MEDIA_URL }}{{ case.network_file_name }}', this)"></i> 
                                            <a href="{{ MEDIA_URL }}{{ case.network_file_name }}"><i class="bi bi-download"></i></a>                                  
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <a target="_blank" href="{% url 'cases_single' case.lesion_id %}" class="btn btn-primary btn-sm">Full Details</a>
                                            </div>
                                            <!-- <a href="{% url 'cases_single' case.lesion_id %}" class="btn btn-primary btn-sm">View</a> -->
                                        </td>
                                        
                                        <td> <a target="_blank" href="{{case.doi}}">{{case.author}} ({{case.publication_year}})</a></td>
                                        <td>{{case.patient_age}}</td>
                                        <td>{{case.patient_sex}}</td>
                                        <td>{{case.cause_of_lesion}}</td>
                                        <td>
                                            {{ symptom }}
                                        </td>
                                        <td><a href="{{ MEDIA_URL }}{{ case.original_image_1 }}" target="_blank">Link</a></td>
                                        <td><a href="{{ MEDIA_URL }}{{ case.tracing_file_name }}"><i class="bi bi-download"></i></a></td>
                                        <td><a href="{{ MEDIA_URL }}{{ case.network_file_name }}"><i class="bi bi-download"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    function newNewToggle(link, element){
        if(params[link.split('/').pop()]){
            let viewer = papayaContainers[0].viewer;
            let overlays = viewer.screenVolumes;
            let overlay_list = overlays.map(overlay => overlay.volume.urls[0]);
            if(overlay_list.includes(link)){
                i = overlay_list.indexOf(link);
                viewer.toggleOverlay(i);
            }
            else{
                if(params[link.split('/').pop()].parametric = true){
                    papaya.viewer.Viewer.MAX_OVERLAYS += 2;
                }
                else{
                    papaya.viewer.Viewer.MAX_OVERLAYS +=1
                }
                viewer.loadOverlay([link],true,false,false);
            }
            if(element instanceof HTMLElement) {
                element.classList.toggle("bi-square-fill");
                element.classList.toggle("bi-square");
            }
        }
    }
    function loadFirstOverlay(){
        setTimeout(() => {
            let element = document.getElementById("toggle1");
            let link = element.getAttribute('url')
            newNewToggle(link, element);
        }, 5);
        setTimeout(() => {
            element = document.getElementById("toggle2");
            link = element.getAttribute('url')
            newNewToggle(link, element);
        }, 400);
    }
    var params = {};
    params["images"] = [
        "https://neurovault.org/static/images/GenericMNI.nii.gz"
    ];
    params["luts"] = [
        {"name":"Lesion Trace", "data": [[0, 0.9, 0.2, 0.2], [1, 1, 0.2, 0.2]]},
        {"name":"PuBu", "data":[[0,1,0.968627,0.984314],[0.05,0.92549,0.905882,0.94902],[0.1,0.815686,0.819608,0.901961],[0.15,0.65098,0.741176,0.858824],[0.2,0.454902,0.662745,0.811765],[0.25,0.211765,0.564706,0.752941],[0.3,0.0196078,0.439216,0.690196],[0.35,0.0156863,0.352941,0.552941],[.4,0.00784314,0.219608,0.345098],[1.0,0.00784314,0.219608,0.345098]]},
        {"name":"OrRd", "data":[[0,1,0.968627,0.92549],[0.125,0.996078,0.909804,0.784314],[0.25,0.992157,0.831373,0.619608],[0.375,0.992157,0.733333,0.517647],[0.5,0.988235,0.552941,0.34902],[0.625,0.937255,0.396078,0.282353],[0.75,0.843137,0.188235,0.121569],[0.875,0.701961,0,0],[1,0.498039,0,0]]},
        {"name":"PuBuNotParametric", "data":[[0,1,0.968627,0.984314],[0.125,0.92549,0.905882,0.94902],[0.25,0.815686,0.819608,0.901961],[0.375,0.65098,0.741176,0.858824],[0.5,0.454902,0.662745,0.811765],[0.625,0.211765,0.564706,0.752941],[0.75,0.0196078,0.439216,0.690196],[0.875,0.0156863,0.352941,0.552941],[1,0.00784314,0.219608,0.345098]]}
    ]
    params['{{sensitivity_pos_path}}'.split('/').pop()] = {'min': {{min_threshold}}, 'max': {{max_threshold}}, 'alpha': 0.6, lut: "OrRd"}
    params['{{sensitivity_neg_path}}'.split('/').pop()] = {'min': {{min_threshold}}, 'max': {{max_threshold}}, 'alpha': 0.6, lut: "PuBuNotParametric"}
    {% for case in case_list %}
        params["{{case.tracing_file_name}}".split('/').pop()] = {lut: "Lesion Trace", "alpha":1.0};
        params["{{case.network_file_name}}".split('/').pop()] = {'parametric': true, 'min': 25, 'max': 100, 'alpha': 0.6, lut: "OrRd", 'negative_lut':'PuBu', 'symmetric':false};
    {% endfor %}
    params["worldSpace"] = true;
    params["expandable"] = true;
    params["combineParametric"] = true;
    params["showControls"] = false;
    params["smoothDisplay"] = false;
    params["allowScroll"] = false;
    params["loadingComplete"] = loadFirstOverlay;
   
    function getCurrentCoord(){
        let viewer = papayaContainers[0].viewer;
        return viewer.getWorldCoordinateAtIndex(Object.values(viewer.currentCoord)[0],Object.values(viewer.currentCoord)[1],Object.values(viewer.currentCoord)[2], new papaya.core.Coordinate());
    }
    function gotoCoord(x,y,z){
        let viewer = papayaContainers[0].viewer;
        viewer.gotoWorldCoordinate({'x':x,'y':y,'z':z});
    }
    function updateCoords() {
        const x = document.getElementById('findX').value;
        const y = document.getElementById('findY').value;
        const z = document.getElementById('findZ').value;
        gotoCoord(x, y, z);
    }
    document.querySelector('.papaya').addEventListener('mousemove', function() {
        const coords = getCurrentCoord();
        document.getElementById('findX').value = coords.x;
        document.getElementById('findY').value = coords.y;
        document.getElementById('findZ').value = coords.z;
    });

</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<!-- DataTables Bootstrap 5 CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

<!-- DataTables Buttons Bootstrap 5 CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- DataTables Bootstrap 5 integration -->
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<!-- FixedHeader JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>

<!-- FixedHeader CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">

<!-- DataTables Buttons -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

<!-- Buttons Bootstrap 5 integration -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>

<!-- JSZip for Buttons extension -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<!-- pdfmake for Buttons extension -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<!-- Buttons extensions (HTML5 export, Print view, Column visibility) -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>


<script>
    $(document).ready(function() {
        $('#sortableTable').DataTable({
            fixedHeader: true,  // Enables the fixed header
            pageLength: 0,
            lengthMenu: [[10, 20, 35, 50, 100, -1], [10, 20, 35, 50, 100, "All"]],  // Dropdown options for the user
            info: false,
            searching: true,
            columnDefs: [
                {
                    targets: [0, 1, 2, 10,11,12,13],
                    visible: false,  // Set visibility to false
                    searchable: false  // Optional, if you also want to exclude from search
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csv',
                    text: 'Export CSV',
                    className: 'btn-success',
                    exportOptions: {
                        columns: function(idx, data, node) {
                            return idx !== 3 && idx !== 4 && idx !== 5; // Export all columns except indexes 3, 4, and 5
                        },
                        format: {
                            body: function(data, row, column, node) {
                            // Check if this is one of the columns with links
                            if ([3,8,9,10].includes(column)) {
                                var href = $(node).find('a').attr('href');
                                return href ? href : ''; // return href if it exists, else return an empty string
                            } else if ([0,1,2,4,5,6,7].includes(column)) {
                                return $.trim($(node).text()); // return text content for column 7 with trimmed whitespace
                            } else {
                                return data; // return the cell data for other columns
                            }
                            }
                        }
                    }
                }
            ]
        });
    });
    $("#sortableTable").width("100%");

</script>

{% endblock %}
